<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Free -->
  <location path="Membership/Free/Marketplace.aspx">
    <system.web>
      <authorization>
        <allow roles="Free"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Membership/Free/Cart.aspx">
    <system.web>
      <authorization>
        <allow roles="Free"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- Premium -->
  <location path="Membership/Premium/PremiumDashboard.aspx">
    <system.web>
      <authorization>
        <allow roles="Premium"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Membership/Premium/PremiumCart.aspx">
    <system.web>
      <authorization>
        <allow roles="Premium"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  
  <!-- Admin -->
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>