<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <location path="Membership/Free">
    <system.web>
      <authorization>
        <allow roles="Free"/>
      </authorization>
    </system.web>
  </location>
  <location path="Membership/Premium">
    <system.web>
      <authorization>
        <allow roles="Premium"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
      </authorization>
    </system.web>
  </location>

</configuration>